/*ALLGEMEIN*/
body {
  background-color: white;
  color: black;
  margin: 0;
  font-family: rubik;
}

.header {
  position: relative;
  height: 134px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: black;
  text-decoration: underline;
}

.btn {
  position: relative;
  display: block;
  color: black;
  font-family: rubik;
  display: flex;
}

.suche {
  position: absolute;
  top: 70px;
  height: 1000px;
  left: 1700px;
  transform: translate(-50%, -50%);
  background: black;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  color: white;
}

.such-btn {
  position: absolute;
  right: 5px;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sucht {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 240px;
}

/*TOPBUTTON*/

.topBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 2px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 80px;
  font-size: 18px;
}

.topBtn:hover {
  background-color: black;
}

/*FOOTER*/

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #2f3640;
  color: white;
}

/*CARD*/

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

.card {
  font-family: rubik;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0, 3s;
  border-radius: 5px;
  height: 50vh;
  width: 50vh;
  list-style: none;
  padding: 50px;
  display: grid;
  color: black;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 300px;
}

/*INFO*/
.name {
  display: block;
  position: relative;
  list-style: none;
  text-align: left;
  color: black;
  text-align: center;
}

.publisher {
  display: block;
  position: relative;
  list-style: none;
  text-align: left;
  color: black;
  text-align: center;
}

.release {
  display: block;
  position: relative;
  list-style: none;
  text-align: left;
  color: black;
  text-align: center;
}

.shop {
  display: block;
  position: relative;
  list-style: none;
  text-align: left;
  color: black;
  text-align: center;
}

.plattform {
  display: block;
  position: relative;
  list-style: none;
  text-align: left;
  color: black;
  text-align: center;
}
/*----------------*/

.fbtn {
  position: relative;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  color: white;
  background-color: black;
  padding: 10px;
  outline: none;
}

/*DROPDOWN*/

.filter {
  position: relative;
  display: inline-block;
}

.filter-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.filter-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.filter-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/*LOGIN-PAGE*/

.loginbutton {
  color: purple;
}
